* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: rgb(97, 5, 5);
    background: rgb(82, 241, 247);
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(245, 82, 82);
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(231, 13, 13);
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
select{
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(245, 82, 82);
}

.top{
  background-color: rgb(175, 22,22);
  color: white;
  padding-top : 10px;
  padding-bottom : 50px;
  font-size: 20px;
  margin: 15px;
  width: 100%;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px;
  width: 50px;

}

img:hover {
  box-shadow: 0 1 2px 5px rgba(0, 140, 186, 0.5);
}